{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2> <br>
    <div class="row container">
        <p class="fs-4 text-center">
            Welcome to TechBazar, your one-stop destination for the latest and most innovative technology products. We
            are dedicated to bringing you a curated selection of high-quality laptops, smartphones, tablets, gaming
            gear, home appliances, and accessories, all designed to elevate your lifestyle. At TechBazar, we combine
            cutting-edge technology with unbeatable value, making sure that your shopping experience is seamless,
            secure, and satisfying.

            Our platform is more than just an e-commerce site; it's a hub for tech enthusiasts and casual shoppers
            alike, where dreams of owning the best technology come true. Whether you're upgrading your work-from-home
            setup or searching for the perfect gift, TechBazar is here to deliver.
        </p>
    </div>
    <br>
    <h2 class="text-center">
        Mission
    </h2> <br>
    <div class="row container fs-4 ">
        <ol>
            <li>Customer-Centric Approach: To offer exceptional service and ensure customer satisfaction by providing top-notch products and tailored recommendations.</li>
            <li>Accessibility for All: To make the latest technology affordable and accessible to everyone, regardless of their budget.</li>
            <li>Inspiring Innovation: To promote innovation and empower our customers to embrace the transformative power of technology.</li>
            <li>Seamless Shopping Experience: To create an intuitive, hassle-free online shopping experience with secure payment options and reliable delivery.</li>
            <li>Sustainability & Responsibility: To minimize our environmental impact by promoting sustainable practices and offering eco-friendly product options.</li>
        </ol>
    </div>
    <h2 class="text-center">Why Choose TechBazar?</h2> <br>
    <div class="row container fs-4 ">
        <ul>
            <li>Wide Product Range: From premium gadgets to budget-friendly options, we have it all.</li>
            <li>Trustworthy Reviews: Honest feedback to help you make informed decisions.</li>
            <li>Personalized Offers: Exclusive deals tailored to your preferences.</li>
            <li>24/7 Support: A dedicated support team ready to assist you anytime.</li>
            <li>Hassle-Free Returns: Easy return policies for a risk-free shopping experience..</li>
        </ul>
    </div>
</div>
<br><br><br>
{% endblock main-content %}